@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 1700px;
  max-width: 615px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding: 5px;
  display: block;
  
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  /* border-radius: 40%; */
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  /* max-width: 188px; */
  opacity: 1;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(#151515, .15);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
input {
    margin-top: 0px;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    border: none;
    background-color: #444;
    opacity: 0.6;
    outline: none;
    color: #fff;
    padding-left: 10px;
  }
  .input {
    margin-top: 0px;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    border: none;
    background-color: #444;
    opacity: 0.6;
    outline: none;
    color: #fff;
    padding-left: 10px;
  }
  .follow {
    margin-right: 4%;
    border-color: #2980b9;
    color: #2980b9;
  }
  .follow {
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    color: #696a86;
  }
  .follow {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    height: 60px;
    width: 150px;
  }
.boton
{
  background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    border: 2px solid rgba(0, 4, 255, 0.651);
     background: rgba(0, 0, 0, 0.541);
    border: none;
    border-radius: 2px;
    color: #ffffff;
    height: 50px;
    width: 70px;
}
 
